$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;


$white: #fff;
$black: #000;
$gray: rgb(92, 99, 112);
$light-gray: rgb(243, 243, 247);
$orange: rgb(255, 105, 0);
$accent: rgb(232, 97, 0);
$light-orange: rgb(255, 240, 230);

//////////////////
$small_1: 12px; //
$small_2: 14px; //
$small_3: 16px; //
//////////////////

///////////////////
$normal_1: 16px; //
$normal_2: 18px; //
$normal_3: 20px; //
///////////////////

///////////////////
$medium_1: 22px; //
$medium_2: 24px; //
$medium_3: 26px; //
///////////////////

//////////////////
$large_1: 28px; //
$large_2: 30px; //
$large_3: 32px; //
//////////////////

///////////////////
$xlarge_1: 34px; //
$xlarge_2: 36px; //
$xlarge_3: 38px; //
///////////////////

